@import url(headers.css);

section[role="region"] {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
}

#list-view {
	z-index: 1;
}

#settings-view {
	z-index: 10;
}

#settings-view form {
	margin: 1.5rem;
}
 
#updatefrequency  {
	font-size: 2.0rem;
	width: 100%;
}
 
.move-down {
	transform: translateY(100%);
	transition: all 0.2s;
}
 
.move-up {
	transform: translateY(0);
	transition: all 0.2s;
}

#gpslocation, #reportssent_wrapper {
	display: none;
}

#credits {
	font-size: 1.7rem;
	line-height: 1.2;
	padding-top: 10px;
	margin-top: 10px;
	border-top: 1px solid #eee;
}

#statusmessage {
	display: none;
}